.header {
  display: flex;
  align-items: center;
  gap: 1.275rem;
  margin-bottom: -2.125rem;
}

/* 현재 시간 */
.time-section {
  display: flex;
  align-items: flex-end;
  gap: 0.375rem;
}

.time-section .label {
  font-family: "SUIT-Bold", Helvetica;
  font-size: 1.25rem;
  color: white;
}

.time-section .time {
  font-family: "SUIT-ExtraBold", Helvetica;
  font-size: 3rem;
  color: #9ad54a;
  line-height: 3.25rem;
  font-weight: 580;
}

/* 사용자 정보 카드 */
.user-info {
  display: flex;
  align-items: center;
  background-color: #252525;
  padding: 1.25rem;
  border-radius: 0.625rem;
  gap: 1.525rem;
  margin-bottom: 0.75rem;
}

.id {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
}

.divider {
  width: 0.075rem;
  height: 2.5rem;
  background-color: #4c4c4c;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

.info-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  color: white;
}

.highlight {
  color: #9ad54a;
  font-weight: bold;
  margin-left: 2.5rem;
}

.text {
  color: #ffffff;
  font-weight: normal;
}
