.login-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/background.png");
  background-size: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}