.notice-board {
    width: 100%;
    max-width: 400px;
    height: 560px;
    /* 최대 너비 제한 */
    background-color: #252525;
    border-radius: 12px;
    padding: 30px;
}

.notice-board h2 {
    text-align: center;
    font-family: "SUIT-Bold", Helvetica;
    font-weight: 700;
    color: white;
    font-size: 24px;
    margin-top: -8px;
    margin-bottom: 25px;
    /* 제목 아래 간격 조정 */
}

.notice-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.notice-divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* 날짜가 중앙에 오도록 설정 */
    gap: 10px;
    /* 날짜와 구분선 사이 간격 */
    margin: -6px;
    /* 위아래 간격 추가 */
}

.notice-divider {
    flex: 1;
    /* 좌우 구분선이 자동으로 늘어나도록 설정 */
    height: 1px;
    background-color: #504f4f;
}

.notice-date {
    font-size: 12px;
    font-weight: 600;
    color: #5d5c5c;
    text-align: center;
    white-space: nowrap;
    /*  날짜가 줄바꿈되지 않도록 설정 */
}

.add-notice-btn {
    position: fixed;
    bottom: 78px;
    right: 300px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #5d5c5c;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.add-notice-btn:hover {
    background-color: #7a7979;
}