/* 공지 작성 모달 배경 */
.notice-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  공지 작성 모달 본문 */
.notice-modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 520px;
    width: 90%;
    background: #252525;
    padding: 24px;
    border-radius: 12px;
    box-sizing: border-box;
    overflow: hidden;
}

/* 모달 헤더 */
.notice-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.notice-modal-title {
    font-size: 24px;
    color: white;
    font-weight: bold;
    position: relative;
    left: 192px;
    top: 10px;
}

/* 닫기 버튼 */
.notice-close-btn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    width: 24px;
    height: 24px;
    position: relative;
    top: -12px;
}

/* 폼 스타일 */
.notice-modal-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*  입력 폼 라벨 */
.notice-form-group label {
    font-size: 15px;
    color: #878484;
    margin-bottom: 4px;
}

/* 입력 필드 스타일 */
.notice-input,
.notice-textarea {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid #625d5b;
    background: #252525;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    margin-left: -10px;
}

/* textarea 크기 조정 */
.notice-textarea {
    height: 150px;
    resize: none;
}

/* 완료 버튼 */
.notice-submit-btn {
    background: #4c4c4c;
    color: #7e7e7e;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}

.notice-submit-btn:hover {
    background: #5d5c5c;
    color: white;
}