.ranking-list {
    position: relative;
    width: 1400px;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    color: #918d8d;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}


.ranking-list h2 {
    text-align: center;
    font-family: "SUIT-Bold", Helvetica;
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.ranking-header {
    width: 100%;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

/* ✅ 각 요소 위치 개별 조정 */
.ranking-header div:nth-child(1) {
    /* 순위 */
    margin-left: 5px;
}

.ranking-header div:nth-child(2) {
    /* 이름 */
    margin-left: -340px;
}

.ranking-header div:nth-child(3) {
    /* 점수 */
    margin-right: 5px;
}